* {
    /* outline: red solid 1px; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
    background-color: #071326;
}

.logo-img {
    width: 50px;
    height: 50px;
}

.logo-text {
    margin-top: -48px;
    padding-left: 50px;
    height: 44px;
}

.top-bgc {
    background-color: #13356b;
}

.align {
    text-align: center;
    margin: 0 auto;
    width: 500px;
}

.header-bar-container {
    display: flex;
    justify-content: flex-end;
}

.button-top-bar {
    margin-top: -35px;
    padding-right: 50px;
}

.list-01 {
    list-style: none;
}

.list-02 {
    display: flex;
    justify-content: center;
}

.list-02 td {
    padding: 3px 2px;
}

.page-cut {
    margin-top: 20px;
}

.text {
    margin-top: 8px;
}