* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: wheat;
}

body {
    background: #0e192b;
}

#header-logo {
    padding-top: 2px;
}

.header-container {
    height: 66px;
    background: #032d70;
    display: flex;
    /* outline: red solid 2px; */
    padding-right: 100px;
    border-radius: 20px;
}

#header-title {
    font-size: 34px;
    align-content: center;
}

.header-container-title {
    display: flex;
    flex: 1;
}

.header-container-links {
    display: flex;
    gap: 25px;
    align-items: center;
    text-decoration: none;
}

.header-container-links a {
    text-decoration: none;
}
